In [2]:
import pandas as pd
import numpy as np

In [122]:
df=pd.read_csv('Merged_Dropped_Data.csv')
print(len(df))
df = df.drop_duplicates()
print(len(df))

28067
27800

In [117]:
df.columns

Index(['count', 'employmentStatus', 'jobTitle', 'jobTitleId', 'max', 'mean',
       'min', 'obscureType', 'payPeriod', 'id_x', 'company_name',
       'totalJobTitlesCount', 'totalSalariesCount', 'Unnamed: 0',
       'careerOpportunitiesRating', 'ceo', 'compensationAndBenefitsRating',
       'cultureAndValuesRating', 'exactMatch', 'featuredReview', 'id_y',
       'industry', 'industryId', 'industryName', 'isEEP', 'numberOfRatings',
       'overallRating', 'ratingDescription', 'recommendToFriendRating',
       'sectorName', 'seniorLeadershipRating', 'website',
       'workLifeBalanceRating'],
      dtype='object')

In [172]:
df_cleaned = df[df.columns.drop(['exactMatch','featuredReview','industry','website','jobTitleId','count','ceo','id_x','id_y','industryId','Unnamed: 0','totalSalariesCount','obscureType'])]

In [178]:
def search_by_industry(df_industry, industry):
    if industry == 'library':
        return list(df_industry['industryName'].unique())
    elif industry not in df_industry['industryName'].unique():
        return 'Invalid Input'
    else:
        return df_industry.groupby(['industryName']).get_group(industry)

In [179]:
#TEST
print(search_by_industry(df,'library'))
print(search_by_industry(df,'random_words'))
print(search_by_industry(df,'Accounting').head())

['Consulting', 'IT Services', 'Advertising & Marketing', 'Computer Hardware & Software', 'Video Games', 'Staffing & Outsourcing', 'Food & Beverage Manufacturing', 'Office Supply Stores', nan, 'Architectural & Engineering Services', 'Construction', 'Commercial Equipment Rental', 'Biotech & Pharmaceuticals', 'Insurance Carriers', 'Hotels, Motels, & Resorts', 'Health Care Services & Hospitals', 'Enterprise Software & Network Solutions', 'Banks & Credit Unions', 'Department, Clothing, & Shoe Stores', 'Internet', 'Electrical & Electronic Manufacturing', 'Social Assistance', 'Insurance Agencies & Brokerages', 'Travel Agencies', 'Chemical Manufacturing', 'Logistics & Supply Chain', 'Publishing', 'Telecommunications Services', 'Cable, Internet & Telephone Providers', 'Miscellaneous Manufacturing', 'Industrial Manufacturing', 'Aerospace & Defense', 'Oil & Gas Services', 'Brokerage Services', 'Financial Transaction Processing', 'Investment Banking & Asset Management', 'Health Care Products Manufacturing', 'Vehicle Dealers', 'Transportation Equipment Manufacturing', 'Media & Entertainment Retail Stores', 'Drug & Health Stores', 'Research & Development', 'Metal & Mineral Manufacturing', 'Lending', 'Wholesale', 'Beauty & Personal Accessories Stores', 'Accounting', 'Energy', 'Education Training Services', 'Membership Organizations', 'Colleges & Universities', 'Financial Analytics & Research', 'Consumer Products Manufacturing', 'Other Retail Stores', 'Security Services', 'Shipping', 'Car Rental', 'K-12 Education', 'General Merchandise & Superstores', 'Federal Agencies', 'Real Estate', 'Automotive Parts & Accessories Stores', 'Municipal Governments', 'Home Furniture & Housewares Stores', 'Business Service Centers & Copy Shops', 'Consumer Electronics & Appliances Stores', 'Fast-Food & Quick-Service Restaurants', 'Sports & Recreation', 'Health Fundraising Organizations', 'Building & Personnel Services', 'Health, Beauty, & Fitness', 'Catering & Food Service Contractors', 'Commercial Printing', 'Auto Repair & Maintenance', 'Mining', 'Utilities', 'News Outlet', 'Museums, Zoos & Amusement Parks', 'Rail', 'Telecommunications Manufacturing', 'Food Production', 'Airlines', 'Motion Picture Production & Distribution', 'Laundry & Dry Cleaning', 'Casual Restaurants', 'Preschool & Child Care', 'Home Centers & Hardware Stores', 'Gambling', 'Legal', 'Gift, Novelty & Souvenir Stores', 'Taxi & Limousine Services', 'Religious Organizations', 'Gas Stations', 'Consumer Product Rental', 'Auctions & Galleries', 'Transportation Management', 'Performing Arts', 'Sporting Goods Stores', 'Parking Lots & Garages', 'General Repair & Maintenance', 'Photography', 'State & Regional Agencies', 'Movie Theaters', 'Upscale Restaurants', 'Charter Air Travel', 'Grantmaking Foundations', 'Toy & Hobby Stores', 'Oil & Gas Exploration & Production', 'Trucking', 'Truck Rental & Leasing', 'Commercial Equipment Repair & Maintenance', 'Wood Product Manufacturing', 'TV Broadcast & Cable Networks', 'Food & Beverage Stores', 'Venture Capital & Private Equity', 'Talent & Modeling Agencies', 'Express Delivery Services', 'Music Production & Distribution', 'Funeral Services']
Invalid Input
      count employmentStatus                  jobTitle  jobTitleId        max  \
7821    1.0          REGULAR         Software Engineer      4279.0  105457.91
7824    1.0           INTERN       Software Engineer()    602285.0      32.97
7827    3.0          REGULAR  Senior Software Engineer     17959.0  133041.94
7830    3.0           INTERN   Software Engineer Co-Op      4506.0      30.59
7833    3.0          REGULAR  Senior Software Engineer     17959.0  133041.94

           mean        min   obscureType payPeriod     id_x  ... industryName  \
7821  102044.19   98630.46        FUZZED    ANNUAL  1024378  ...   Accounting
7824      31.69      30.41        FUZZED    HOURLY  1024378  ...   Accounting
7827  124871.17  119280.42  FULL_DISPLAY    ANNUAL  1024378  ...   Accounting
7830      28.18      23.46  FULL_DISPLAY    HOURLY  1024378  ...   Accounting
7833  124871.17  119280.42  FULL_DISPLAY    ANNUAL  1024378  ...   Accounting

      isEEP  numberOfRatings  overallRating  ratingDescription  \
7821  False                1            5.0     Very Satisfied
7824  False                1            5.0     Very Satisfied
7827  False                1            5.0     Very Satisfied
7830  False                1            5.0     Very Satisfied
7833  False                1            5.0     Very Satisfied

     recommendToFriendRating          sectorName  seniorLeadershipRating  \
7821                     100  Accounting & Legal                     4.0
7824                     100  Accounting & Legal                     4.0
7827                     100  Accounting & Legal                     4.0
7830                     100  Accounting & Legal                     4.0
7833                     100  Accounting & Legal                     4.0

               website workLifeBalanceRating
7821  www.cogitoweb.it                   5.0
7824  www.cogitoweb.it                   5.0
7827  www.cogitoweb.it                   5.0
7830  www.cogitoweb.it                   5.0
7833  www.cogitoweb.it                   5.0

[5 rows x 33 columns]

In [134]:
df['payPeriod'].unique()

array(['ANNUAL', 'HOURLY', 'MONTHLY'], dtype=object)

In [166]:
def search_by_salary(df_salary=None,max_salary=1000000000, min_salary=0,pay_period='a'):
    if pay_period = 'a':
        df.salary
    result = df_salary.loc[df_salary['min']>=min_salary]
    result = result.loc[result['max']<=max_salary]
    result = result.drop_duplicates(['jobTitle','company_name','sectorName'])   
    result = result.sort_values('min',ascending=True)
    return result

In [175]:
#TEST
search_by_salary(df_salary=df_cleaned,max_salary=500000,min_salary=400000)

,employmentStatus,jobTitle,max,mean,min,payPeriod,company_name,totalJobTitlesCount,careerOpportunitiesRating,compensationAndBenefitsRating,cultureAndValuesRating,industryName,isEEP,numberOfRatings,overallRating,ratingDescription,recommendToFriendRating,sectorName,seniorLeadershipRating,workLifeBalanceRating
7360,REGULAR,Head of Financial Planning and Analysis,467786.40,447832.59,427878.78,ANNUAL,Citi,1,3.5,3.6,3.5,Investment Banking & Asset Management,True,15663,3.6,Satisfied,71,Finance,3.1,3.3
22871,REGULAR,Executive Vice President Head of Global Sales ...,458810.87,443738.76,428666.64,ANNUAL,BT,2,3.4,3.5,3.5,Telecommunications Services,True,3742,3.4,OK,55,Telecommunications,3.0,3.8
22872,REGULAR,Executive Vice President Head of Global Sales ...,458810.87,443738.76,428666.64,ANNUAL,BT,2,3.0,4.0,3.4,NaN,False,4,3.2,OK,44,NaN,3.0,3.7
7104,REGULAR,Global Head of Mobile Strategy,473600.91,452344.85,431088.78,ANNUAL,Citi,2,3.5,3.6,3.5,Investment Banking & Asset Management,True,15663,3.6,Satisfied,71,Finance,3.1,3.3
7578,REGULAR,Global Head of Mobile Strategy,474383.69,456189.32,437994.95,ANNUAL,Citicorp North America,1,3.3,3.5,3.4,Lending,False,262,3.4,OK,62,Finance,2.9,3.3